{% extends 'base.html' %}

{% block title %}
Home 
{% endblock %}

{% block content %}
<section>
    <div class="hero-section">
        <div class="col">
            <div class="product-info">
                <h1>Leather</h1>
                <!-- <a href="#" class="customize-button">Customize</a> -->
            </div>
        </div>
        
        <div class="col">
            <div class="product-image">
                <img src="/static/images/blue-nobg.png" alt="Handcrafted Leather Bag">
            </div>
        </div>
        <a class="customize-button" href="#">Shop collection</a>
    </div>
</section>

<section>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="col customized-col">
                    <img src="/static/images/brown.jpeg" alt="Leather bag">
                    <div class="card">
                        <div style="text-align: center;" class="card-body">
                            <p class="card-text">Leather bags</p>
                            <h5 class="card-title">Atelier</h5>
                            <p class="card-text">Price</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col customized-col">
                    <img src="/static/images/orange.jpeg" alt="Leather bag">
                    <div class="card">
                        <div style="text-align: center;" class="card-body">
                            <p class="card-text">Leather bags</p>
                            <h5 class="card-title">Atelier</h5>
                            <p class="card-text">Price</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col customized-col">
                    <img src="/static/images/green.jpeg" alt="Leather bag">
                    <div class="card">
                        <div style="text-align: center;" class="card-body">
                            <p class="card-text">Leather bags</p>
                            <h5 class="card-title">Atelier</h5>
                            <p class="card-text">Price</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col customized-col">
                    <img src="/static/images/red.jpeg" alt="Leather bag">
                    <div class="card">
                        <div style="text-align: center;" class="card-body">
                            <p class="card-text">Leather bags</p>
                            <h5 class="card-title">Atelier</h5>
                            <p class="card-text">Price</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add more items as needed -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
{% endblock %}