{% extends 'base.html' %}

{% block title %}
Home 
{% endblock %}

{% block content %}
<section>
    <div class="hero-section">
        <div class="col">
            <div class="product-info">
                <h1>Leather</h1>
                <!-- <a href="#" class="customize-button">Customize</a> -->
            </div>
        </div>
        
        <div class="col">
            <div class="product-image">
                <img src="/static/images/blue-nobg.png" alt="Handcrafted Leather Bag">
            </div>
        </div>
        <a class="customize-button" href="#">Shop collection</a>
    </div>
</section>

<section>
    <div class="carousel-container">
        <div class="carousel">
          <div class="slide">
            <div class="img-div">
                <img class="carousel-img" src="/static/images/blue.jpeg" alt="Image 2">
            </div>
            <div class="card-body">
                <p class="card-text">Category</p>
                <h5 class="card-title">Product name</h5>
                <p class="card-text">Price</p>
              </div>
          </div>
          <div class="slide">
            <div class="img-div">
                <img class="carousel-img" src="/static/images/brown2.jpeg" alt="Image 2">
            </div>
            <div class="card-body">
                <p class="card-text">Category</p>
                <h5 class="card-title">Product name</h5>
                <p class="card-text">Price</p>
              </div>
          </div>
          <div class="slide">
            <div class="img-div">
                <img class="carousel-img" src="/static/images/green.jpeg" alt="Image 2">
            </div>
            <div class="card-body">
                <p class="card-text">Category</p>
                <h5 class="card-title">Product name</h5>
                <p class="card-text">Price</p>
              </div>
          </div>
          <div class="slide">
            <div class="img-div">
                <img class="carousel-img" src="/static/images/orange.jpeg" alt="Image 2">
            </div>
            <div class="card-body">
                <p class="card-text">Category</p>
                <h5 class="card-title">Product name</h5>
                <p class="card-text">Price</p>
              </div>
          </div>
          <div class="slide">
            <div class="img-div">
                <img class="carousel-img" src="/static/images/red.jpeg" alt="Image 2">
            </div>
            <div class="card-body">
                <p class="card-text">Category</p>
                <h5 class="card-title">Product name</h5>
                <p class="card-text">Price</p>
            </div>
          </div>
          <div class="slide">
            <div class="img-div">
                <img class="carousel-img" src="/static/images/teal.jpeg" alt="Image 2">
            </div>
            
            <div class="card-body">
                <p class="card-text">Category</p>
                <h5 class="card-title">Product name</h5>
                <p class="card-text">Price</p>
            </div>
          </div>
          <!-- Add more slide divs as needed -->
        </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
      </div>
      
</section>


<section>
    <div class="row">
        <div class="col">
            <div id="carouselExample" class="carousel customize-carousel" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/static/images/teal.jpeg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/images/orange.jpeg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/images/red.jpeg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>

        <div class="col">
            <h1>DURABILITY</h1>
        </div>
    </div>
      
</section>
{% endblock %}