{% extends 'base.html' %}

{% block title %}
Home 
{% endblock %}

{% block content %}
<section>
  <div style="font-size: small; text-align: center">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <ul class="flashes">
      {% for category, message in messages %}
      <div
        style="text-align: center; margin: 0; padding: 1rem"
        class="alert alert-{{ category }} alert-dismissible fade show"
        role="alert"
      >
        <li>{{ message }}</li>
      </div>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
  </div>
    <div class="hero-section">
        <div class="col">
            <div class="product-info">
                <h1>Leather</h1>
                <!-- <a href="#" class="customize-button">Customize</a> -->
            </div>
        </div>
        
        <div class="col">
            <div class="product-image">
                <img src="/static/images/blue-nobg.png" alt="Handcrafted Leather Bag">
            </div>
        </div>
        <a class="customize-button" href="{{ url_for('shop_collection')}}">Shop collection</a>
    </div>
</section>

<section>
    
</section>

<section>
    
</section>
{% endblock %}